:root {
    // width
    --w-auto: auto;
    --w-full: 100%;
    --w-screen: 100vw;

    // height
    --h-auto: auto;
    --h-full: 100%;
    --h-screen: 100vh;

    // font-family
    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;

    // border-radius
    --rounded: 4px;
    --rounded-sm: calc(var(--radius) - 4px);
    --rounded-md: calc(var(--radius) - 2px);
    --rounded-lg: var(--radius);
    --rounded-full: var(--w-screen);

    // border-width
    --border: 1px;
    --border-2: 2px;
    --border-4: 4px;
    --border-8: 8px;

    // box-shadow
    --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

    // blur
    --blur-sm: blur(4px);
    --blur: blur(8px);
    --blur-md: blur(12px);
    --blur-lg: blur(16px);
    --blur-xl: blur(24px);
    --blur-2xl: blur(40px);
    --blur-3xl: blur(64px);
}
